body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.headerBox {
  grid-column: 1 / span 5;
  background-color: rgba(193, 139, 139, 0.5);
  box-shadow: -1px -1px 3px rgba(105, 83, 83, 0.5);
  min-height: 9vh;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}

.movielistBox {
  grid-column: 1 / span 3;

}
.movieImageBox {
  margin: 20px;
  cursor: pointer;
}

.movieSearchBox {
  color:black;
  padding-top: 17px;
}