body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.headerBox {
  grid-column: 1 / span 5;
  background: linear-gradient(rgb(105,90,90), rgb(140, 90, 90), rgb(180, 120, 90));
  box-shadow: -1px -1px 3px rgba(105, 83, 83, 0.5);
  min-height: 9vh;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}

.movielistBox {
  grid-column: 1 / span 3;

}
.movieImageBox {
  margin: 20px;
  cursor: pointer;
}

.movieSearchBox {
  color:black;
  padding-top: 17px;
}

.movieDetailBox {
  grid-column: 1 / span 4;
  width: 450;
  margin: 15px;
}

.movie-detail-poster {
  word-wrap: break-word;
  grid-column: 1 / span 1;
  grid-row: 1 / 1;
}

.movieDetailSubBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr, 0.5fr);
  grid-template-rows: repeat(3, 1fr);
}

.movie-detail-titleBox {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  padding: 10px;
}
.movie-detail-description {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  margin-top: 50px;
  padding: 10px;
}


.searchingBox {
  border: 1px solid black;
  box-shadow: 1px 1px 3px rgba(193, 139, 139, 0.5);
  padding: 15px;
  line-height: 1.2;
}

.searchResultsBox {
  grid-column: 1 / span 2;
}

.footerBox {
  grid-column: 1 / span 5;
}